{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<div class="main">
  <div class="user">
    <h1>Hello, {{ first_name }}!</h1>
    <p>
      To help you improve your scores, we've created a curated test for you
      based on your weaknesses as listed below.
    </p>
  </div>
  <br />
  <br />
  <div class="subjects">
    <div class="subject">
      <h3>Physics</h3>
      <form
        action="{{ url_for('views.test', subject='physics') }}"
        method="POST"
      >
        <label for="physics-chapters">Select Chapters:</label>
        <select id="physics-chapters" name="selected_chapters" multiple>
          <option value="waves">Waves</option>
          <option value="Simple harmonic motion">Simple harmonic motion</option>
        </select>
        <button type="submit" class="button">Take Test</button>
      </form>
    </div>

    <div class="subject">
      <h3>Chemistry</h3>
      <form
        action="{{ url_for('views.test', subject='chemistry') }}"
        method="POST"
      >
        <label for="chemistry-chapters">Select Chapters:</label>
        <select id="chemistry-chapters" name="selected_chapters" multiple>
          <option value="goc">General organic chemistry</option>
          <option value="Chemical bonding">Chemical bonding</option>
        </select>
        <button type="submit" class="button">Take Test</button>
      </form>
    </div>

    <div class="subject">
      <h3>Mathematics</h3>
      <form action="{{ url_for('views.test', subject='maths') }}" method="POST">
        <label for="maths-chapters">Select Chapters:</label>
        <select id="maths-chapters" name="selected_chapters" multiple>
          <option value="Sequence and series">Sequence and series</option>
          <option value="Complex numbers">Complex numbers</option>
        </select>
        <button type="submit" class="button">Take Test</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
