{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<div class="main">
  <div class="user">
    <h1>Hello, {{ first_name }}!</h1>
    <p>
      To help you improve your scores, we've created a curated test for you
      based on your weaknesses as listed below.
    </p>
  </div>
  <br />
  <br />
  <div class="subjects">
    <div class="subject">
      <h3>Physics</h3>
      <ol>
        <li>Waves</li>
        <li>Simple harmonic motion</li>
      </ol>
      <button class="button">
        <a href="{{ url_for('views.test', subject='physics') }}" class="test"
          >Take test</a
        >
      </button>
    </div>
    <div class="subject">
      <h3>Chemistry</h3>
      <ol>
        <li>General organic chemistry</li>
        <li>Chemical bonding</li>
      </ol>
      <button class="button">
        <a href="{{ url_for('views.test', subject='chemistry') }}" class="test"
          >Take test</a
        >
      </button>
    </div>
    <div class="subject">
      <h3>Mathematics</h3>
      <ol>
        <li>Sequenece and series</li>
        <li>Complex numbers</li>
      </ol>
      <button class="button">
        <a href="{{ url_for('views.test', subject='maths') }}" class="test"
          >Take test</a
        >
      </button>
    </div>
  </div>
</div>
{% endblock %}
